<div class="container">
  <div id="hcard-Enrico-Reinsdorf" class="vcard">
    <h2 class="org">RE-Design</h2>
    <h3><a class="url fn" href="http://www.re-design.de">Enrico Reinsdorf</a></h3>
    <div class="adr">
      <div class="street-address">Friedirch-Ebert-Str. 80</div>
      <span class="postal-code">95213</span> <span class="locality">Münchberg</span>, <span class="country-name">Deutschland</span>
    </div>
    <div class="tel">Tel: +49 9251 4363321</div>
    <div class="email">eMail: <a class="email" href="mailto:enrico.reinsdorf@re-design.de">enrico.reinsdorf@re-design.de</a></div>
  </div>
</div>
