<div class="container">
  <h1>Automat</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Geldeinwurf</h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addCoins('c10')">0,10 €</button>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addCoins('c20')">0,20 €</button>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addCoins('c50')">0,50 €</button>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addCoins('c100')">1,00 €</button>
          <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addCoins('c200')">2,00 €</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Geld: <div class="pull-right">{{coins | currency:"€ "}}</div></h3>
        </div>
        <div class="panel-body">
          <div class="btn-group btn-group-justified">
            <div class="btn-group" ng-repeat="slot in slots">
              <button type="button" class="btn btn-default" ng-click="getDrink($index)">{{slot.name}} &ndash; {{slot.value | currency:"€ "}}</button>
            </div>
            <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="getCoinsBack()">Rückgabe</button>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="alert" role="alert">{{msg}}</div>
          Ausgabe: <div class="pull-right">{{output}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lagerbestand -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="btn btn-default" ng-click="toggleStock()">Lagerbestand</button>
    </div>
    <div id="stock" class="panel-body">

      <!-- Aktueller Bestand -->
      <div class="row">
        <div class="col-xs-4">
          <h4>Aktueller Bestand</h4>
        </div>
        <div class="col-xs-4">
          <ul class="list-unstyled">
            <li ng-repeat="slot in slots">{{slot.amount}} x {{slot.name}}</li>
          </ul>
        </div>
        <div class="col-xs-4">
          <ul class="list-unstyled">
            <li ng-repeat="item in totalCoins">{{item.amount}} x {{item.name}}</li>
          </ul>
        </div>
      </div>

      <!-- Auffüllen -->
      <h4>Auffüllen</h4>
      <form role="form">
        <div class="row" ng-repeat="slot in slots">
          <div class="col-xs-3">
            Slot {{$index + 1}}
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="slot.name" placeholder="Name">
          </div>
          <div class="col-xs-3">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="slot.value" placeholder="Preis"><div class="input-group-addon">€</div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-group">
              <div class="input-group-addon">{{slot.amount}} + </div>
              <input type="number" class="form-control" ng-model="slot.fill" placeholder="Menge">
            </div>
          </div>
        </div>
        <hr>

        <!-- Wechselgeld -->
        <div class="row">
          <div class="col-xs-2">
            Wechselgeld
          </div>
          <div class="col-xs-2" ng-repeat="item in totalCoins">
            <p class="text-center">{{item.amount}} x {{item.name}}</p>
            <input type="number" ng-model="totalCoins[$index].fill" class="form-control" min="0">
          </div>
        </div>
        <hr>

        <!-- Buttons -->
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-default btn-block" ng-click="fillIn()">Auffüllen</button>
          </div>
        </div>
       </form>
    </div>
  </div>
</div>
</div>
